articles-title {
  font-family: "Sunflower", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.articles-title {
  margin-bottom: 0px;
}

.articles-userName {
  font-family: "Sunflower", sans-serif;
  font-size: 14px;
  color: darkblue;
  font-weight: bold;
}

.articles-card {
  box-shadow: 8px 4px 8px 4px rgba(204, 6, 6, 0.2);
  width: 100%;
  margin: 1px;
  float: center;
  border-radius: 0.5em;
}

.articles-card:hover {
  box-shadow: 0 8px 16px 0 darkblue;
}

.articles-comments {
  font-size: 12px;
  font-weight: bold;
}
