articles-title {
  font-family: "Sunflower", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.articles-title {
  margin-bottom: 0px;
}

.articles-userName {
  font-family: "Sunflower", sans-serif;
  font-size: 14px;
  color: darkblue;
  font-weight: bold;
}

.articles-card {
  box-shadow: 8px 4px 8px 4px rgba(204, 6, 6, 0.2);
  transition: 0.2s;
  width: 100%;
  margin: 2px;
  float: center;
  border-radius: 1.5em;
}

.articles-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.articles-comments {
  font-size: 12px;
  font-weight: bold;
}
/* 
.vote-down {
  background-color: #0a0a0a;
  border-radius: 1em;
  color: white;
  padding: 4px 4px;
  font-size: 14px;
  cursor: pointer;
}

.vote-up {
  background-color: #d82121;
  border-radius: 1em;
  color: white;
  padding: 4px 4px;
  font-size: 14px;
  margin: 6px 10px;
  cursor: pointer;
} */
