.user-card {
  box-sizing: content-box;
  transition: 0.2s;
  margin: 5em auto 5em auto;
  max-width: 80%;
  border-radius: 1em;
  background-color: #2b2b2b;
  text-align: center;
}

.user-card-container {
  display: flex;
  padding: 8em;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 50%;
}

.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.user-avatar {
  width: 50%;
  height: 50%;
  background: #e6e7ed;
  border-radius: 12em;
}

.username-font {
  padding: 0.75em;
  color: white;
  text-align: center;
}
.user-articles {
  margin: 1px;
}
