.comments-card {
  display: block;
  box-sizing: content-box;
  box-align: center;
  box-shadow: 8px 4px 8px 4px rgba(204, 6, 6, 0.2);
  transition: 0.2s;
  width: 100%;
  border-radius: 1em;
}

.comments-card:hover {
  box-shadow: 0 8px 16px 0 darkblue;
}

.comments-votes {
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.comment-header {
  font-family: "Sunflower", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: left;
}

.new-comment {
  box-sizing: border-box;
  padding: 2em;
  border-radius: 1em;
  width: 100%;
  border: 1px solid black;
  border-width: 0.3em;
  border-radius: 1em;
  font-size: 16px;
}

.comment-submit-button {
  background-color: #d82121;
  border-radius: 1em;
  color: white;
  float: right;
  font-size: 14px;
  cursor: pointer;
}

.comment-delete-button {
  background-color: #0a0a0a;
  border-radius: 1em;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: right;
  text-decoration: none;
  float: right;
  font-size: 14px;
  margin: 6px 30px;
  cursor: pointer;
}

.new-comment-whole {
  margin: 2em;
}
