.comments-card {
  position: relative;
  justify-content: space-between;
  display: block;
  box-sizing: content-box;
  box-align: center;
  box-shadow: 8px 4px 8px 4px rgba(204, 6, 6, 0.2);
  transition: 0.2s;
  width: 100%;
  border-radius: 0.75em;
  margin-bottom: 0.5em;
}

.comments-card:hover {
  box-shadow: 0 8px 16px 0 darkblue;
}

.comments-votes {
  font-family: "Scada", sans-serif;
  font-size: 14px;
  color: #da2c43;
  font-weight: bold;
}

.comments-body {
  font-family: "Cantata One", serif;
  font-size: 18px;
  color: black;
  text-align: left;
}

.new-comment {
  box-sizing: border-box;
  padding: 2em;
  border-radius: 1em;
  width: 100%;
  border: 1px solid black;
  border-width: 0.3em;
  border-radius: 1em;
  font-size: 16px;
}

.comment-submit-button {
  background-color: #da2c43;
  border-radius: 1em;
  color: white;
  float: right;
  font-size: 14px;
  cursor: pointer;
}

.comment-delete-button {
  position: absolute;
  background-color: #0a0a0a;
  border-radius: 1em;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  bottom: 8px;
  right: 16px;
  font-size: 0.75em;
  cursor: pointer;
}

.new-comment-whole {
  margin: 2em;
}
